.form-check-label {

    font-weight: bold;

    
}


.bg-image {

    display: block;
    
    background-image: url('/assets/contatti.jpg');
  
    height: 100%;
    
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }