

<div class="bg-image">
  <div class="hero__content">
    <h1>Contacts</h1>
  

<section>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Username:</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="username">
      
    </div>

    <br>

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"> Email:</label>
      
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" >
      </div>
      
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Genere
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Femmina</a></li>
          <li><a class="dropdown-item" href="#">Maschio</a></li>
          <li><a class="dropdown-item" href="#">Altro</a></li>
        </ul>
      </div>

      

<br>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"> Animale Preferito: </label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">Gatto</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">Cane</label>
        </div><div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
          <label class="form-check-label" for="flexSwitchCheckChecked">Ippopotamo</label>
        </div>
        <br>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Fai una domanda!</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        <button type="button" class="btn btn-success">Invia Mail</button>
      </div>
  


