<div class="bg-image">


<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">l'azienda</li>
    <li class="list-group-item">Sviluppo</li>
    <li class="list-group-item">Progetti</li>
  </ul>


  
  <div class="parallax">
    <div class="container txt-center">

      <p>Looking For Exclusive Digital Services?</p>

      <div class="d-grid gap-2 col-6 mx-auto">

        <button type="button" class="btn btn-secondary"><a href="https://www.dncsrl.com/" target="_blank"
            rel="noopener noreferrer">Visit us</a></button>
      </div>

      <div class="container media-text_container">
        <div class="media-text">

        </div>
        <br>
        <div class="media-text media-text_text">
          <h5>Unique Experience</h5>
          <p>Lorem ipsum.

          </p>

          <h5>Features</h5>
          <ul class="features">
            <li>Lorem ipsum dolor sit amet</li>
            <li>consectetur adipiscing elit</li>
            <li>Nulla ut odio sagittis</li>
            <li>Sodales velit id, hendrerit erat</li>
            <li>Praesent eget leo at nunc egestas</li>
          </ul>

      